<%= form_for(@comment ||= Comment.new) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="hidden">
  <%= f.hidden_field :entry_id, value: @entry.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
</div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>